<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.samrod.lockpatch</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/lockpatch_launcher</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>AbandonProcessGroup</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/var/log/lockpatch_launcher.err</string>
    <key>StandardOutPath</key>
    <string>/var/log/lockpatch_launcher.log</string>
</dict>
</plist>
